@page
@model Lab5.Pages.IndexModel
@{
}

<h3> Welcome to Lab 5 </h3>
The Entity Framework - Razor Pages, Static Content, Migrations, and File Uploads; implementing other features of ASP.NET, Static Content, Migrations, and File Uploads in the context of Razor Pages app by Mostapha A